body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #282c34; /* Fundo escuro */
  color: #61dafb; /* Texto azul claro */
}

.digital-clock {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.time {
  font-size: 3em;
}

.date {
  font-size: 1.5em;
  margin-top: -10px;
}
